In [1]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_excel("/Users/kato/Desktop/mypython/4-1_address_5year-old_r4_4-.xlsx")
df.reset_index()
df.head(5)

,Unnamed: 0,令和4年4月1日 住所別年齢別人口世帯数集計表（日本人）,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,住所コード,住所,年齢範囲,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,合計,世帯数,NaN,NaN,NaN
2,NaN,NaN,NaN,0～4,5～9,10～14,15～19,20～24,25～29,30～34,...,80～84,85～89,90～94,95～99,100～,NaN,日本人,外国人,混合,合計
3,NaN,3010,浪打１丁目,15,16,32,28,23,17,21,...,25,28,18,1,0,654,342,0,0,342
4,NaN,3020,浪打２丁目,20,26,17,25,14,19,27,...,32,23,16,3,0,574,289,0,1,290

In [46]:
df2 = df.drop(df.index[[0 , 1]] , axis=0)
df2.head(5)

,Unnamed: 0,令和4年4月1日 住所別年齢別人口世帯数集計表（日本人）,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
2,NaN,NaN,NaN,0～4,5～9,10～14,15～19,20～24,25～29,30～34,...,80～84,85～89,90～94,95～99,100～,NaN,日本人,外国人,混合,合計
3,NaN,3010,浪打１丁目,15,16,32,28,23,17,21,...,25,28,18,1,0,654,342,0,0,342
4,NaN,3020,浪打２丁目,20,26,17,25,14,19,27,...,32,23,16,3,0,574,289,0,1,290
5,NaN,5010,港町１丁目,24,16,18,17,15,19,27,...,33,24,12,5,2,529,271,0,0,271
6,NaN,5020,港町２丁目,25,26,30,24,40,34,30,...,46,32,18,4,0,787,431,0,1,432

In [47]:
df3 = df2.drop(df2.columns[[0 , 1]] , axis=1)
df3

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
2,NaN,0～4,5～9,10～14,15～19,20～24,25～29,30～34,35～39,40～44,...,80～84,85～89,90～94,95～99,100～,NaN,日本人,外国人,混合,合計
3,浪打１丁目,15,16,32,28,23,17,21,34,48,...,25,28,18,1,0,654,342,0,0,342
4,浪打２丁目,20,26,17,25,14,19,27,40,33,...,32,23,16,3,0,574,289,0,1,290
5,港町１丁目,24,16,18,17,15,19,27,30,26,...,33,24,12,5,2,529,271,0,0,271
6,港町２丁目,25,26,30,24,40,34,30,46,54,...,46,32,18,4,0,787,431,0,1,432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
564,NaN,7936,9725,10959,11607,10504,10318,11786,14653,17591,...,13083,9299,4350,1131,147,271786,135937,0,209,136146

In [22]:
df.drop(df.columns[0], axis=1)

,令和4年4月1日 住所別年齢別人口世帯数集計表（日本人）,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
住所,住所コード,年齢範囲,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,合計,世帯数,NaN,NaN,NaN
NaN,NaN,0～4,5～9,10～14,15～19,20～24,25～29,30～34,35～39,40～44,...,80～84,85～89,90～94,95～99,100～,NaN,日本人,外国人,混合,合計
浪打１丁目,3010,15,16,32,28,23,17,21,34,48,...,25,28,18,1,0,654,342,0,0,342
浪打２丁目,3020,20,26,17,25,14,19,27,40,33,...,32,23,16,3,0,574,289,0,1,290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,7936,9725,10959,11607,10504,10318,11786,14653,17591,...,13083,9299,4350,1131,147,271786,135937,0,209,136146