In [13]:
import requests
import pprint
import json
import pandas as pd

In [22]:
url = "http://api.e-stat.go.jp/rest/2.0/app/json/getStatsData?appId=275246af9f262f960c82075339a2099796a282ad&statsDataId=C0020050213000&cdCat01=%23A03503"

In [31]:
response = requests.get(url).json()
pprint.pprint(response)

{'GET_STATS_DATA': {'PARAMETER': {'DATA_FORMAT': 'J',
                                  'LANG': 'J',
                                  'METAGET_FLG': 'Y',
                                  'NARROWING_COND': {'CODE_CAT01_SELECT': '#A03503'},
                                  'START_POSITION': 1,
                                  'STATS_DATA_ID': 'C0020050213000'},
                    'RESULT': {'DATE': '2023-07-15T00:11:18.252+09:00',
                               'ERROR_MSG': '正常に終了しました。',
                               'STATUS': 0},
                    'STATISTICAL_DATA': {'CLASS_INF': {'CLASS_OBJ': [{'@id': 'tab',
                                                                      '@name': 'データ種別',
                                                                      'CLASS': [{'@code': '001',
                                                                                 '@level': '1',
                                                                                 '@name': '基礎データ'},
                                                                                {'@code': '002',
                                                                                 '@level': '1',
                                                                                 '@name': '指標データ'}]},
                                                                     {'@id': 'cat01',
                                                                      '@name': '項目',
                                                                      'CLASS': {'@code': '#A03503',
                                                                                '@level': '1',
                                                                                '@name': '老年人口割合［65歳以上人口］',
                                                                                '@unit': '％'}},
                                                                     {'@id': 'area',
                                                                      '@name': '都道府県・市区町村名',
                                                                      'CLASS': {'@code': '13000',
                                                                                '@level': '1',
                                                                                '@name': '東京都'}},
                                                                     {'@id': 'time',
                                                                      '@name': '調査年度',
                                                                      'CLASS': [{'@code': '1975',
                                                                                 '@level': '1',
                                                                                 '@name': '1975'},
                                                                                {'@code': '1976',
                                                                                 '@level': '1',
                                                                                 '@name': '1976'},
                                                                                {'@code': '1977',
                                                                                 '@level': '1',
                                                                                 '@name': '1977'},
                                                                                {'@code': '1978',
                                                                                 '@level': '1',
                                                                                 '@name': '1978'},
                                                                                {'@code': '1979',
                                                                                 '@level': '1',
                                                                                 '@name': '1979'},
                                                                                {'@code': '1980',
                                                                                 '@level': '1',
                                                                                 '@name': '1980'},
                                                                                {'@code': '1981',
                                                                                 '@level': '1',
                                                                                 '@name': '1981'},
                                                                                {'@code': '1982',
                                                                                 '@level': '1',
                                                                                 '@name': '1982'},
                                                                                {'@code': '1983',
                                                                                 '@level': '1',
                                                                                 '@name': '1983'},
                                                                                {'@code': '1984',
                                                                                 '@level': '1',
                                                                                 '@name': '1984'},
                                                                                {'@code': '1985',
                                                                                 '@level': '1',
                                                                                 '@name': '1985'},
                                                                                {'@code': '1986',
                                                                                 '@level': '1',
                                                                                 '@name': '1986'},
                                                                                {'@code': '1987',
                                                                                 '@level': '1',
                                                                                 '@name': '1987'},
                                                                                {'@code': '1988',
                                                                                 '@level': '1',
                                                                                 '@name': '1988'},
                                                                                {'@code': '1989',
                                                                                 '@level': '1',
                                                                                 '@name': '1989'},
                                                                                {'@code': '1990',
                                                                                 '@level': '1',
                                                                                 '@name': '1990'},
                                                                                {'@code': '1991',
                                                                                 '@level': '1',
                                                                                 '@name': '1991'},
                                                                                {'@code': '1992',
                                                                                 '@level': '1',
                                                                                 '@name': '1992'},
                                                                                {'@code': '1993',
                                                                                 '@level': '1',
                                                                                 '@name': '1993'},
                                                                                {'@code': '1994',
                                                                                 '@level': '1',
                                                                                 '@name': '1994'},
                                                                                {'@code': '1995',
                                                                                 '@level': '1',
                                                                                 '@name': '1995'},
                                                                                {'@code': '1996',
                                                                                 '@level': '1',
                                                                                 '@name': '1996'},
                                                                                {'@code': '1997',
                                                                                 '@level': '1',
                                                                                 '@name': '1997'},
                                                                                {'@code': '1998',
                                                                                 '@level': '1',
                                                                                 '@name': '1998'},
                                                                                {'@code': '1999',
                                                                                 '@level': '1',
                                                                                 '@name': '1999'},
                                                                                {'@code': '2000',
                                                                                 '@level': '1',
                                                                                 '@name': '2000'},
                                                                                {'@code': '2001',
                                                                                 '@level': '1',
                                                                                 '@name': '2001'},
                                                                                {'@code': '2002',
                                                                                 '@level': '1',
                                                                                 '@name': '2002'},
                                                                                {'@code': '2003',
                                                                                 '@level': '1',
                                                                                 '@name': '2003'},
                                                                                {'@code': '2004',
                                                                                 '@level': '1',
                                                                                 '@name': '2004'},
                                                                                {'@code': '2005',
                                                                                 '@level': '1',
                                                                                 '@name': '2005'},
                                                                                {'@code': '2006',
                                                                                 '@level': '1',
                                                                                 '@name': '2006'},
                                                                                {'@code': '2007',
                                                                                 '@level': '1',
                                                                                 '@name': '2007'},
                                                                                {'@code': '2008',
                                                                                 '@level': '1',
                                                                                 '@name': '2008'},
                                                                                {'@code': '2009',
                                                                                 '@level': '1',
                                                                                 '@name': '2009'},
                                                                                {'@code': '2010',
                                                                                 '@level': '1',
                                                                                 '@name': '2010'},
                                                                                {'@code': '2011',
                                                                                 '@level': '1',
                                                                                 '@name': '2011'},
                                                                                {'@code': '2012',
                                                                                 '@level': '1',
                                                                                 '@name': '2012'},
                                                                                {'@code': '2013',
                                                                                 '@level': '1',
                                                                                 '@name': '2013'},
                                                                                {'@code': '2014',
                                                                                 '@level': '1',
                                                                                 '@name': '2014'},
                                                                                {'@code': '2015',
                                                                                 '@level': '1',
                                                                                 '@name': '2015'},
                                                                                {'@code': '2016',
                                                                                 '@level': '1',
                                                                                 '@name': '2016'}]}]},
                                         'DATA_INF': {'NOTE': [{'$': 'データが存在しないことを示している',
                                                                '@char': '***'},
                                                               {'$': 'データが秘匿されていることを示している',
                                                                '@char': '+'},
                                                               {'$': 'データが得られないことを示している',
                                                                '@char': '-'}],
                                                      'VALUE': [{'$': '18.3',
                                                                 '@area': '13000',
                                                                 '@cat01': '#A03503',
                                                                 '@tab': '002',
                                                                 '@time': '2005',
                                                                 '@unit': '％'},
                                                                {'$': '19.1',
                                                                 '@area': '13000',
                                                                 '@cat01': '#A03503',
                                                                 '@tab': '002',
                                                                 '@time': '2006',
                                                                 '@unit': '％'},
                                                                {'$': '19.7',
                                                                 '@area': '13000',
                                                                 '@cat01': '#A03503',
                                                                 '@tab': '002',
                                                                 '@time': '2007',
                                                                 '@unit': '％'},
                                                                {'$': '20.2',
                                                                 '@area': '13000',
                                                                 '@cat01': '#A03503',
                                                                 '@tab': '002',
                                                                 '@time': '2008',
                                                                 '@unit': '％'},
                                                                {'$': '20.9',
                                                                 '@area': '13000',
                                                                 '@cat01': '#A03503',
                                                                 '@tab': '002',
                                                                 '@time': '2009',
                                                                 '@unit': '％'},
                                                                {'$': '20.4',
                                                                 '@area': '13000',
                                                                 '@cat01': '#A03503',
                                                                 '@tab': '002',
                                                                 '@time': '2010',
                                                                 '@unit': '％'},
                                                                {'$': '20.6',
                                                                 '@area': '13000',
                                                                 '@cat01': '#A03503',
                                                                 '@tab': '002',
                                                                 '@time': '2011',
                                                                 '@unit': '％'},
                                                                {'$': '21.3',
                                                                 '@area': '13000',
                                                                 '@cat01': '#A03503',
                                                                 '@tab': '002',
                                                                 '@time': '2012',
                                                                 '@unit': '％'},
                                                                {'$': '21.9',
                                                                 '@area': '13000',
                                                                 '@cat01': '#A03503',
                                                                 '@tab': '002',
                                                                 '@time': '2013',
                                                                 '@unit': '％'},
                                                                {'$': '22.5',
                                                                 '@area': '13000',
                                                                 '@cat01': '#A03503',

In [35]:
print(response.keys())

dict_keys(['GET_STATS_DATA'])

In [37]:
pd.json_normalize(response)

,GET_STATS_DATA.RESULT.STATUS,GET_STATS_DATA.RESULT.ERROR_MSG,GET_STATS_DATA.RESULT.DATE,GET_STATS_DATA.PARAMETER.LANG,GET_STATS_DATA.PARAMETER.STATS_DATA_ID,GET_STATS_DATA.PARAMETER.NARROWING_COND.CODE_CAT01_SELECT,GET_STATS_DATA.PARAMETER.DATA_FORMAT,GET_STATS_DATA.PARAMETER.START_POSITION,GET_STATS_DATA.PARAMETER.METAGET_FLG,GET_STATS_DATA.STATISTICAL_DATA.RESULT_INF.TOTAL_NUMBER,...,GET_STATS_DATA.STATISTICAL_DATA.TABLE_INF.SMALL_AREA,GET_STATS_DATA.STATISTICAL_DATA.TABLE_INF.MAIN_CATEGORY.@code,GET_STATS_DATA.STATISTICAL_DATA.TABLE_INF.MAIN_CATEGORY.$,GET_STATS_DATA.STATISTICAL_DATA.TABLE_INF.SUB_CATEGORY.@code,GET_STATS_DATA.STATISTICAL_DATA.TABLE_INF.SUB_CATEGORY.$,GET_STATS_DATA.STATISTICAL_DATA.TABLE_INF.OVERALL_TOTAL_NUMBER,GET_STATS_DATA.STATISTICAL_DATA.TABLE_INF.UPDATED_DATE,GET_STATS_DATA.STATISTICAL_DATA.CLASS_INF.CLASS_OBJ,GET_STATS_DATA.STATISTICAL_DATA.DATA_INF.NOTE,GET_STATS_DATA.STATISTICAL_DATA.DATA_INF.VALUE
0,0,正常に終了しました。,2023-07-15T00:11:18.252+09:00,J,C0020050213000,#A03503,J,1,Y,11,...,0,99,その他,99,その他,86953,2017-06-23,"[{'@id': 'tab', '@name': 'データ種別', 'CLASS': [{'...","[{'@char': '***', '$': 'データが存在しないことを示している'}, {...","[{'@tab': '002', '@cat01': '#A03503', '@area':..."

In [38]:
pd.DataFrame(response)

                                                     GET_STATS_DATA
PARAMETER         {'LANG': 'J', 'STATS_DATA_ID': 'C0020050213000...
RESULT            {'STATUS': 0, 'ERROR_MSG': '正常に終了しました。', 'DATE...
STATISTICAL_DATA  {'RESULT_INF': {'TOTAL_NUMBER': 11, 'FROM_NUMB...

In [41]:
print(response["GET_STATS_DATA"])

{'RESULT': {'STATUS': 0, 'ERROR_MSG': '正常に終了しました。', 'DATE': '2023-07-15T00:11:18.252+09:00'}, 'PARAMETER': {'LANG': 'J', 'STATS_DATA_ID': 'C0020050213000', 'NARROWING_COND': {'CODE_CAT01_SELECT': '#A03503'}, 'DATA_FORMAT': 'J', 'START_POSITION': 1, 'METAGET_FLG': 'Y'}, 'STATISTICAL_DATA': {'RESULT_INF': {'TOTAL_NUMBER': 11, 'FROM_NUMBER': 1, 'TO_NUMBER': 11}, 'TABLE_INF': {'@id': 'C0020050213000', 'STAT_NAME': {'@code': '00200502', '$': '社会・人口統計体系'}, 'GOV_ORG': {'@code': '00200', '$': '総務省'}, 'STATISTICS_NAME': '社会・人口統計体系', 'TITLE': {'@no': '13000', '$': '東京都'}, 'CYCLE': '-', 'SURVEY_DATE': 0, 'OPEN_DATE': '2017-06-23', 'SMALL_AREA': 0, 'MAIN_CATEGORY': {'@code': '99', '$': 'その他'}, 'SUB_CATEGORY': {'@code': '99', '$': 'その他'}, 'OVERALL_TOTAL_NUMBER': 86953, 'UPDATED_DATE': '2017-06-23'}, 'CLASS_INF': {'CLASS_OBJ': [{'@id': 'tab', '@name': 'データ種別', 'CLASS': [{'@code': '001', '@name': '基礎データ', '@level': '1'}, {'@code': '002', '@name': '指標データ', '@level': '1'}]}, {'@id': 'cat01', '@name': '項目', 'CLASS': {'@code': '#A03503', '@name': '老年人口割合［65歳以上人口］', '@level': '1', '@unit': '％'}}, {'@id': 'area', '@name': '都道府県・市区町村名', 'CLASS': {'@code': '13000', '@name': '東京都', '@level': '1'}}, {'@id': 'time', '@name': '調査年度', 'CLASS': [{'@code': '1975', '@name': '1975', '@level': '1'}, {'@code': '1976', '@name': '1976', '@level': '1'}, {'@code': '1977', '@name': '1977', '@level': '1'}, {'@code': '1978', '@name': '1978', '@level': '1'}, {'@code': '1979', '@name': '1979', '@level': '1'}, {'@code': '1980', '@name': '1980', '@level': '1'}, {'@code': '1981', '@name': '1981', '@level': '1'}, {'@code': '1982', '@name': '1982', '@level': '1'}, {'@code': '1983', '@name': '1983', '@level': '1'}, {'@code': '1984', '@name': '1984', '@level': '1'}, {'@code': '1985', '@name': '1985', '@level': '1'}, {'@code': '1986', '@name': '1986', '@level': '1'}, {'@code': '1987', '@name': '1987', '@level': '1'}, {'@code': '1988', '@name': '1988', '@level': '1'}, {'@code': '1989', '@name': '1989', '@level': '1'}, {'@code': '1990', '@name': '1990', '@level': '1'}, {'@code': '1991', '@name': '1991', '@level': '1'}, {'@code': '1992', '@name': '1992', '@level': '1'}, {'@code': '1993', '@name': '1993', '@level': '1'}, {'@code': '1994', '@name': '1994', '@level': '1'}, {'@code': '1995', '@name': '1995', '@level': '1'}, {'@code': '1996', '@name': '1996', '@level': '1'}, {'@code': '1997', '@name': '1997', '@level': '1'}, {'@code': '1998', '@name': '1998', '@level': '1'}, {'@code': '1999', '@name': '1999', '@level': '1'}, {'@code': '2000', '@name': '2000', '@level': '1'}, {'@code': '2001', '@name': '2001', '@level': '1'}, {'@code': '2002', '@name': '2002', '@level': '1'}, {'@code': '2003', '@name': '2003', '@level': '1'}, {'@code': '2004', '@name': '2004', '@level': '1'}, {'@code': '2005', '@name': '2005', '@level': '1'}, {'@code': '2006', '@name': '2006', '@level': '1'}, {'@code': '2007', '@name': '2007', '@level': '1'}, {'@code': '2008', '@name': '2008', '@level': '1'}, {'@code': '2009', '@name': '2009', '@level': '1'}, {'@code': '2010', '@name': '2010', '@level': '1'}, {'@code': '2011', '@name': '2011', '@level': '1'}, {'@code': '2012', '@name': '2012', '@level': '1'}, {'@code': '2013', '@name': '2013', '@level': '1'}, {'@code': '2014', '@name': '2014', '@level': '1'}, {'@code': '2015', '@name': '2015', '@level': '1'}, {'@code': '2016', '@name': '2016', '@level': '1'}]}]}, 'DATA_INF': {'NOTE': [{'@char': '***', '$': 'データが存在しないことを示している'}, {'@char': '+', '$': 'データが秘匿されていることを示している'}, {'@char': '-', '$': 'データが得られないことを示している'}], 'VALUE': [{'@tab': '002', '@cat01': '#A03503', '@area': '13000', '@time': '2005', '@unit': '％', '$': '18.3'}, {'@tab': '002', '@cat01': '#A03503', '@area': '13000', '@time': '2006', '@unit': '％', '$': '19.1'}, {'@tab': '002', '@cat01': '#A03503', '@area': '13000', '@time': '2007', '@unit': '％', '$': '19.7'}, {'@tab': '002', '@cat01': '#A03503', '@area': '13000', '@time': '2008', '@unit': '％', '$': '20.2'}, {'@tab': '002', '@cat01': '#A03503', '@area': '13000', '@time': '2009', '@unit': '％', '$': '20.9'}, {'@tab': '002', '@cat01': '#A03503', '@area': '13000', '@time': '2010', '@unit': '％', '$': '20.4'}, {'@tab': '002', '@cat01': '#A03503', '@area': '13000', '@time': '2011', '@unit': '％', '$': '20.6'}, {'@tab': '002', '@cat01': '#A03503', '@area': '13000', '@time': '2012', '@unit': '％', '$': '21.3'}, {'@tab': '002', '@cat01': '#A03503', '@area': '13000', '@time': '2013', '@unit': '％', '$': '21.9'}, {'@tab': '002', '@cat01': '#A03503', '@area': '13000', '@time': '2014', '@unit': '％', '$': '22.5'}, {'@tab': '002', '@cat01': '#A03503', '@area': '13000', '@time': '2015', '@unit': '％', '$': '22.7'}]}}}