In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("/Users/kato/Documents/testuriage.csv")
df2 = pd.read_csv("/Users/kato/Documents/test2.csv")

In [6]:
df1.head

<bound method NDFrame.head of         勘定日  お店コード  お店名   現金売上  売掛金売上  クレジットカード売上  商品券売上  電子マネー売上  税抜き売上
0  2020/4/5   1001  A商店  12000    500        6000   1000      750  45000  \

   ポイントカード売上   総合売上  取引数   消費税
0         90  50000   20  4500  >

In [5]:
df2.head

<bound method NDFrame.head of         日付 2020年4月5日  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
0     現金売上     12000         NaN         NaN         NaN         NaN  \
1       合計     50000         NaN         NaN         NaN         NaN
2  クレジット売上      6000         NaN         NaN         NaN         NaN
3     掛け売上       500         NaN         NaN         NaN         NaN
4     電子売上       700         NaN         NaN         NaN         NaN
5   ポイント売上       140         NaN         NaN         NaN         NaN
6       客数        20         NaN         NaN         NaN         NaN
7      消費税      4500         NaN         NaN         NaN         NaN
8     ショップ       A商店         NaN         NaN         NaN         NaN
9      商品券      1000         NaN         NaN         NaN         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN  >

In [7]:
df1 = df1.T

In [8]:
df1

                   0
勘定日         2020/4/5
お店コード           1001
お店名              A商店
現金売上           12000
売掛金売上            500
クレジットカード売上      6000
商品券売上           1000
電子マネー売上          750
税抜き売上          45000
ポイントカード売上         90
総合売上           50000
取引数               20
消費税             4500

In [21]:
df2.drop(df2.columns[2:], axis=1)

        日付 2020年4月5日
0     現金売上     12000
1       合計     50000
2  クレジット売上      6000
3     掛け売上       500
4     電子売上       700
5   ポイント売上       140
6       客数        20
7      消費税      4500
8     ショップ       A商店
9      商品券      1000

In [23]:
df3 = df2.set_index("日付")
df3

        2020年4月5日  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
日付
現金売上        12000         NaN         NaN         NaN         NaN         NaN
合計          50000         NaN         NaN         NaN         NaN         NaN
クレジット売上      6000         NaN         NaN         NaN         NaN         NaN
掛け売上          500         NaN         NaN         NaN         NaN         NaN
電子売上          700         NaN         NaN         NaN         NaN         NaN
ポイント売上        140         NaN         NaN         NaN         NaN         NaN
客数             20         NaN         NaN         NaN         NaN         NaN
消費税          4500         NaN         NaN         NaN         NaN         NaN
ショップ          A商店         NaN         NaN         NaN         NaN         NaN
商品券          1000         NaN         NaN         NaN         NaN         NaN

In [26]:
df4 = df3.drop(df3.columns[1:], axis=1)
df4

        2020年4月5日
日付
現金売上        12000
合計          50000
クレジット売上      6000
掛け売上          500
電子売上          700
ポイント売上        140
客数             20
消費税          4500
ショップ          A商店
商品券          1000

In [27]:
df1

                   0
勘定日         2020/4/5
お店コード           1001
お店名              A商店
現金売上           12000
売掛金売上            500
クレジットカード売上      6000
商品券売上           1000
電子マネー売上          750
税抜き売上          45000
ポイントカード売上         90
総合売上           50000
取引数               20
消費税             4500

In [28]:
df4

        2020年4月5日
日付
現金売上        12000
合計          50000
クレジット売上      6000
掛け売上          500
電子売上          700
ポイント売上        140
客数             20
消費税          4500
ショップ          A商店
商品券          1000

In [30]:
df5 = pd.concat([df1, df4], axis=1)
df5

                   0 2020年4月5日
勘定日         2020/4/5       NaN
お店コード           1001       NaN
お店名              A商店       NaN
現金売上           12000     12000
売掛金売上            500       NaN
クレジットカード売上      6000       NaN
商品券売上           1000       NaN
電子マネー売上          750       NaN
税抜き売上          45000       NaN
ポイントカード売上         90       NaN
総合売上           50000       NaN
取引数               20       NaN
消費税             4500      4500
合計               NaN     50000
クレジット売上          NaN      6000
掛け売上             NaN       500
電子売上             NaN       700
ポイント売上           NaN       140
客数               NaN        20
ショップ             NaN       A商店
商品券              NaN      1000

In [31]:
df4

        2020年4月5日
日付
現金売上        12000
合計          50000
クレジット売上      6000
掛け売上          500
電子売上          700
ポイント売上        140
客数             20
消費税          4500
ショップ          A商店
商品券          1000

In [32]:
df1

                   0
勘定日         2020/4/5
お店コード           1001
お店名              A商店
現金売上           12000
売掛金売上            500
クレジットカード売上      6000
商品券売上           1000
電子マネー売上          750
税抜き売上          45000
ポイントカード売上         90
総合売上           50000
取引数               20
消費税             4500

In [38]:
df7 = df1.rename(index={"総合売上":"合計" , "クレジットカード売上":"クレジット売上" , "電子マネー売上":"電子売上" , "商品券売上":"商品券" , "ポイントカード売上":"ポイント売上"})
df7

                0
勘定日      2020/4/5
お店コード        1001
お店名           A商店
現金売上        12000
売掛金売上         500
クレジット売上      6000
商品券          1000
電子売上          750
税抜き売上       45000
ポイント売上         90
合計          50000
取引数            20
消費税          4500

In [41]:
df6 = pd.concat([df7 , df4] , axis=1)
df6

                0 2020年4月5日
勘定日      2020/4/5       NaN
お店コード        1001       NaN
お店名           A商店       NaN
現金売上        12000     12000
売掛金売上         500       NaN
クレジット売上      6000      6000
商品券          1000      1000
電子売上          750       700
税抜き売上       45000       NaN
ポイント売上         90       140
合計          50000     50000
取引数            20       NaN
消費税          4500      4500
掛け売上          NaN       500
客数            NaN        20
ショップ          NaN       A商店

In [67]:
df9 = df6.rename(columns={0:"日付"})
df9

               日付 2020年4月5日
勘定日      2020/4/5       NaN
お店コード        1001       NaN
お店名           A商店       NaN
現金売上        12000     12000
売掛金売上         500       NaN
クレジット売上      6000      6000
商品券          1000      1000
電子売上          750       700
税抜き売上       45000       NaN
ポイント売上         90       140
合計          50000     50000
取引数            20       NaN
消費税          4500      4500
掛け売上          NaN       500
客数            NaN        20
ショップ          NaN       A商店

In [68]:
df9.loc["現金売上", "日付"]

12000

In [70]:
df9["判定"] = 0
df9

               日付 2020年4月5日  判定
勘定日      2020/4/5       NaN   0
お店コード        1001       NaN   0
お店名           A商店       NaN   0
現金売上        12000     12000   0
売掛金売上         500       NaN   0
クレジット売上      6000      6000   0
商品券          1000      1000   0
電子売上          750       700   0
税抜き売上       45000       NaN   0
ポイント売上         90       140   0
合計          50000     50000   0
取引数            20       NaN   0
消費税          4500      4500   0
掛け売上          NaN       500   0
客数            NaN        20   0
ショップ          NaN       A商店   0

In [71]:
if int(df9.loc["現金売上" , "日付"]) == int(df9.loc["現金売上" , "2020年4月5日"]):
    df9.loc["現金売上" , "判定"] = "OK"
else:
    df9.loc["現金売上" , "判定"] = "NG"
df9

               日付 2020年4月5日  判定
勘定日      2020/4/5       NaN   0
お店コード        1001       NaN   0
お店名           A商店       NaN   0
現金売上        12000     12000  OK
売掛金売上         500       NaN   0
クレジット売上      6000      6000   0
商品券          1000      1000   0
電子売上          750       700   0
税抜き売上       45000       NaN   0
ポイント売上         90       140   0
合計          50000     50000   0
取引数            20       NaN   0
消費税          4500      4500   0
掛け売上          NaN       500   0
客数            NaN        20   0
ショップ          NaN       A商店   0

In [60]:
df9.loc["現金売上" , "日付"]

12000

In [61]:
df9.loc["現金売上" , "2020年4月5日"]

'12000'